body {
    background-color: #e9ebee;
}

.card {
    margin-top: 1em;
}

/* IMG displaying */
.person-card {
    margin-top: 5em;
    padding-top: 5em;
}
.person-card .card-title{
    text-align: center;
}
.person-card .person-img{
    width: 12em;
    position: absolute;
    top: -7em;
    left: 50%;
    margin-left: -7em;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}

#imgcont {
  max-width: 750px;
  padding: 15px;
}
#red{
    color: red;
}

::placeholder {
    color: blue;
    opacity: .4; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0, 255, 0, 0.4);
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(0, 255, 0, 0.4);
}
